# These values are optional. If not set, defaults will be used.
# See internal/config/config.go for default values.
# 1. Available: DEBUG, INFO, WARN, ERROR
LOG_LEVEL=DEBUG

# 2. Path to the conversation flow definition file
FLOW_FILE_PATH=./conversation.json

# 3. Path where the SQLite database file will be stored
SQLITE_DB_PATH=./store.db

# For development, you can use:
# Available: dev, prod
# ENV = dev
# DEV_ALLOWED_USERS = XXXXXXXXXXX@s.whatsapp.net,YYYYYYYYYY@s.whatsapp.net
