# Log level: DEBUG, INFO, WARN, ERROR
BOT_LOG_LEVEL=DEBUG

# Path to the conversation flow definition file
BOT_FLOW_FILE_PATH=./conversation.json

# Path where the SQLite database file will be stored
BOT_SQLITE_DB_PATH=./store.db
