# These values are optional. If not set, defaults will be used.
# See internal/config/config.go for default values.
# Available: DEBUG, INFO, WARN, ERROR
LOG_LEVEL=DEBUG

FLOW_FILE_PATH=./conversation.json

# If the file at FLOW_FILE_PATH is missing, it is downloaded from this URL. Default:
# FLOW_FILE_URL=https://raw.githubusercontent.com/empiricalhq/bot/master/conversation.json

SQLITE_DB_PATH=./store.db

# Environment setting. Available: dev, prod. Default: prod
ENV=prod

# Comma-separated list of users allowed to interact with the bot when ENV=dev.
# Ignored when ENV=prod.
# DEV_ALLOWED_USERS=XXXXXXXXXXX@s.whatsapp.net,YYYYYYYYYY@s.whatsapp.net
